---


export interface Props {
  title: string;
  imgSrc: string;
  imgAlt: string;
}

const { title, imgSrc, imgAlt } = Astro.props;
---

<div class="mb-10 prose">
  <h2>{title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-start">
    <div class="md:col-span-2 prose">
      <slot />
    </div>
    
    <div class="md:col-span-1">
      <img src={imgSrc} alt={imgAlt} class="w-full" />
    </div>
  </div>
</div>